.films {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
}

.film {
    margin: 1em 0.5em;
    text-align: center;
}

.film__text {
    font-size: .9rem;
    word-break: break-all;
}

.film__poster {
    height: 17em;
    width: 11em;
}

.film__no-poster {
    display: inline-block;
    background-color: #ccc;
}

.film__no-poster__text {
    line-height: 17em;
    vertical-align: middle;
    text-transform: uppercase;
}